html {
	height: 100%;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	
	background: black;
	font-family: Helvetica, Arial, "sans-serif";
	font-size: 12px;
	color: white;
	line-height: 18px;
}

a, a:active, a:visited {
	color: white;
}

#map_canvas {
	position: absolute;
	
	top: 0px;
	
	height: 550px;
	width: 100%;
	
	background: blue;
	color: black;
}

h1#title {
	position: absolute;
	z-index: 2;
	
	border-radius: 4px;
	opacity: 0.8;
	background: black;
	padding: 12px 24px;
	
	margin-top: 20px;
	margin-left: 100px;
}

h1#title a {
	text-decoration: none;
}

#welcome_overlay {
	position: absolute;
	z-index: 100;
	
	background: black;
	opacity: 0.8;
	
	border-radius: 4px;
		
	padding: 12px 20px 12px 12px;
}

#welcome_overlay h2 {
	margin: 0;
}

#welcome_overlay.waiting-for-input {
	-webkit-transition-property: top, right, width, height;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-in;

	top: 150px;
	right: 400px;
	
	width: 400px;
	padding-top: 1.5em;
	padding-bottom: 2em;
}

#welcome_overlay.with-input {
	-webkit-transition-property: top, right, width, height;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-in;
	
	top: 10px;
	right: 20px;
	
	width: 400px;
	height: 70px;  
}


#welcome_overlay input[type=text] {
	width: 200px;
}

#welcome_overlay button {
}