html {
	height: 100%;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	
	background: #1c2324;
	font-family: Helvetica, Arial, "sans-serif";
	font-size: 12px;
	color: white;
	line-height: 18px;
}

a, a:active, a:visited {
	color: white;
}

#map_canvas {
	position: absolute;
	
	top: 0px;
	
	height: 90%;
	min-height: 550px;
	width: 100%;
	
	background: black;
	color: black;
	
	border-bottom: solid 2px #d94141;
}

h1#title {
	position: absolute;
	z-index: 2;
	
	border-radius: 4px;
	opacity: 0.9;
	background: #1c2324;
	padding: 12px 24px;
	
	margin-top: 20px;
	margin-left: 100px;
}

#progress {
	position: absolute;
	z-index: 2;
	
	right: 70px;
	top: 45px;
	
	border-radius: 4px;
	opacity: 0.9;
	background: #1c2324;
	
	width: 250px;
}

#progress img {
	float: left;
	margin: 24px 0 0 1em;
}

#progress p {
	margin: 0;
	padding: 1em 1.5em 1em 72px;
}

#error {
	position: absolute;
	z-index: 2;
	
	width: 360px;
	right: 50%;
	margin-right: -220px;
	top: 25%;
	
	background: #6E0C18;
	opacity: 0.9;
	border-radius: 4px;
	padding: 0 2em 1em 1em;
}

#not_found {
	position: absolute;
	z-index: 2;
	width: 360px;
	right: 50%;
	margin-right: -220px;
	top: 25%;
	
	background:#822e3e;
	opacity: 0.9;
	border-radius: 4px;
	
	padding: 0 2em 1em 1em;
}

#my_parcels {
	position: absolute;
	z-index: 2;
	
	border-radius: 4px;
	opacity: 0.9;
	background: #1c2324;
	
	top: 72px;
	left: 100px;
	
	width: 230px;
	
	padding: 1em 1em 1em 2em;
}

#my_parcels h2 {
	display: none;
	margin: 0;
	font-size: 14px;
}

#my_parcels ul {
	margin: 0;
	margin-left: -5px;
	padding: 0;
	list-style-type: none;
}

#my_parcels ul li {
	
}

#my_parcels a {
	padding: 2px 4px;
}

#my_parcels a.current {
	background: #d94141;
	text-decoration: none;
}

#my_parcels div.input {
	margin-top: 2em;
}

#my_parcels div.input input {
	margin-left: -2px;
	margin-right: 4px;
	width: 145px;
}

h1#title a {
	text-decoration: none;
}

#welcome_overlay {
	position: absolute;
	z-index: 100;
	
	background: #1C2324;
	opacity: 0.8;
	
	border-radius: 4px;
}

#welcome_overlay h2 {
	margin: 0;
}

#welcome_overlay.waiting-for-input {
	top: 150px;
	right: 50%;
	margin-right: -200px;
	
	width: 400px;
	padding: 1.5em 1.5em 2em 1.5em;
}

#welcome_overlay input[type=text] {
	width: 200px;
}

#welcome_overlay button {
}

#footer {
	position: absolute;
	bottom: 0;
	height: 10%;
	width: 100%;
}

#footer ul {
	float: right;
	width: 500px;
	padding: 20px 0 0 0;
	margin: 0;
	list-style-type: none;
}

#footer ul li {
	display: inline;
	white-space: nowrap;
}

#footer ul li:after {
	padding-left: 10px;
	padding-right: 8px;
	content: "|";
}

#footer ul li:last-child:after {
	content: "";
	padding: 0;
}

#about_tip {
	padding: 2em;
	background: #1c2324;
	opacity: 0.9;
	border-radius: 4px;
}